site_name: CyberOps Cheatsheet
site_url: https://oscar-sr.github.io/cyberops-cheatsheet/

nav:
  - Home: index.md
  - Cyberintelligence:
      - Introduction: cyberintelligence/index.md

      - Threat intelligence:
          - Overview: cyberintelligence/threat-intelligence/index.md
          - Intelligence cycle: cyberintelligence/threat-intelligence/intelligence-cycle.md

      - OSINT:
          - Overview: cyberintelligence/osint/index.md
          - Limitations and ethics: cyberintelligence/osint/limitations-and-ethics.md

      - SOCMINT:
          - Overview: cyberintelligence/socmint/index.md
          - Metadata: cyberintelligence/socmint/metadata.md

      - Dark Web:
          - Overview: cyberintelligence/dark-web/index.md
          - Types of sites: cyberintelligence/dark-web/types-of-sites.md

      - Tools: cyberintelligence/tools.md
      - Historical facts: cyberintelligence/historical-facts.md
      - References: cyberintelligence/references.md
  - Ethical hacking:
      - Introduction: ethical-hacking/index.md
  - Digital forensics:
      - Introduction: digital-forensics/index.md
  - Malware analysis:
      - Introduction: malware-analysis/index.md

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: simple/github
      link: https://github.com/Oscar-SR
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/oscar-s-r/

copyright: Copyright &copy; <script>document.write(new Date().getFullYear())</script> Óscar Sánchez Rubio