site_name: Cyberintelligence cheatsheet
site_url: https://sitename.example

nav:
  - Introduction: index.md
  - Threat intelligence:
      - Overview: threat-intelligence/index.md
      - Intelligence cycle: threat-intelligence/intelligence-cycle.md
  - OSINT:
      - Overview: osint/index.md
      - Limitations and ethical considerations: osint/limitations-and-ethical-considerations.md
      - Tools: osint/tools.md
  - SOCMINT:
      - Overview: socmint/index.md
      - Metadata: socmint/metadata.md
      - Tools: socmint/tools.md
  - Dark Web:
      - Overview: dark-web/index.md
      - Types of sites: dark-web/types-of-sites.md
      - Tools: dark-web/tools.md
  - Historical facts: historical-facts.md
  - References: references.md

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: simple/github
      link: https://github.com/Oscar-SR
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/oscar-s-r/

copyright: Copyright &copy; <script>document.write(new Date().getFullYear())</script> Óscar Sánchez Rubio