site_name: CyberOps Cheatsheet
site_url: https://oscar-sr.github.io/cyberops-cheatsheet/

nav:
  - Home: index.md

  - Cyber threat intelligence:
      - Introduction: cyber-threat-intelligence/index.md

      - Fundamentals:
          - Overview: cyber-threat-intelligence/fundamentals/index.md
          - Intelligence cycle: cyber-threat-intelligence/fundamentals/intelligence-cycle.md

      - OSINT:
          - Overview: cyber-threat-intelligence/osint/index.md
          - Limitations and ethics: cyber-threat-intelligence/osint/limitations-and-ethics.md

      - SOCMINT:
          - Overview: cyber-threat-intelligence/socmint/index.md
          - Metadata: cyber-threat-intelligence/socmint/metadata.md

      - Dark Web:
          - Overview: cyber-threat-intelligence/dark-web/index.md
          - Types of sites: cyber-threat-intelligence/dark-web/types-of-sites.md

      - Tools: cyber-threat-intelligence/tools.md
      - Historical facts: cyber-threat-intelligence/historical-facts.md
      - References: cyber-threat-intelligence/references.md

  - Ethical hacking:
      - Introduction: ethical-hacking/index.md

      - Fundamentals:
          - Overview: ethical-hacking/fundamentals/index.md

  - Digital forensics:
      - Introduction: digital-forensics/index.md

  - Malware analysis:
      - Introduction: malware-analysis/index.md

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.tabs
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra:
  social:
    - icon: simple/github
      link: https://github.com/Oscar-SR
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/oscar-s-r/

copyright: Copyright &copy; <script>document.write(new Date().getFullYear())</script> Óscar Sánchez Rubio